.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns ModeToggle to the right */
    padding: 20px; /* Adds some space around the content */
  }
  
  .content {
    align-self: stretch; /* Makes the content take full width */
    text-align: center; /* Centers the text content */
  }